body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    height: 100vh;
    margin:0;
    background-image: url('/zdjecia/tlo.png');

}

header, footer {
    background: #252323 ;
    color: white;
    text-align: center;
    padding:10px;
}
.Logo {
    width: 240px;  
    height: auto;
    display: block; 
    margin: 0 auto;
}
main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    padding: 20px;
}

section, article, aside{
    background-color: rgba(112, 121, 140, 0.8);
    color: white;
    padding: 20px;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: #252323;
}
ul {
    list-style-type: none;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
 }
th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    vertical-align: top;
}
th {
    background-color: rgba(37, 35, 35, 0.7);
    color: white;
}
tr:hover {
    background-color: rgba(112, 121, 140, 0.5);
}